@import url('https://fonts.googleapis.com/css?family=Fredoka+One|Lato|Montserrat');

:root {
	/* change the values below to your colors from your palette */
	--primary-color: #005bed;
	--secondary-color: #8338ec;
	--accent1-color: #ff006e;
	--accent2-color: #ffbe0b;

	/* change the values below to your chosen font(s) */
	--heading-font: 'Fredoka One', Georgia, Garamond, serif;
	--paragraph-font: Montserrat, Lato, Helvetica, sans-serif;

	/* these colors below should be chosen from among your palette colors above */
	--headline-color-on-white: var(--primary-color); /* headlines on a white background */
	--headline-color-on-color: white; /* headlines on a colored background */
	--paragraph-color-on-white: #003ea1; /* paragraph text on a white background */
	--paragraph-color-on-color: white; /* paragraph text on a colored background */
	--paragraph-background-color: var(--primary-color);
	--nav-link-color: white;
	--nav-background-color: var(--secondary-color);
	--nav-hover-link-color: white;
	--nav-hover-background-color: #57269c;
}

/* Reset */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
	display: block;
}
body {
	line-height: 1;
}
ol,
ul {
	list-style: none;
}
blockquote,
q {
	quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: var(--heading-font);
	color: var(--headline-color-on-white);
	letter-spacing: 1.5px;
}

hr {
	height: 3px;
	margin: 35px 0;
	background: var(--accent1-color);
}

p {
	font-family: var(--paragraph-font);
	color: var(--paragraph-color-on-white);
	padding: 1em;
}

.page-container {
	display: grid;
	grid-template-rows: 80px 1fr 50px;
	height: 100vh;
}

header {
	grid-row: 1/2;
}

main {
	grid-row: 2/3;
}

.primary {
	background-color: var(--primary-color);
}

.secondary {
	background-color: var(--secondary-color);
}

.accent1 {
	background-color: var(--accent1-color);
}

.accent2 {
	background-color: var(--accent2-color);
}

p.colored {
	background-color: var(--paragraph-background-color);
	color: var(--paragraph-color-on-color);
}

nav {
	display: flex;
	align-items: center;
	background-color: var(--nav-background-color);
	line-height: 3em;
	text-align: center;
	font-size: 1.2em;
	list-style-type: none;
	font-family: var(--paragraph-font);
}

nav .container,
footer .container {
	width: 60%;
	margin: 0 auto;
	display: flex;
}

nav a {
	padding: 1em;
	min-width: 120px;
	text-decoration: none;
	padding: 10px;
	height: 100%;
}

nav a:link,
nav a:visited {
	color: var(--nav-link-color);
}

nav a:hover {
	color: var(--nav-hover-link-color);
	background-color: var(--nav-hover-background-color);
}

.nav-logo {
	margin: 0 20px;
	display: flex;
	align-items: center;
}

.page-main {
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	width: 60%;
	margin: 0 auto;
	font-size: 1.2em;
}

.home-grid {
	display: grid;
	grid-template-columns: 1fr 1fr;
}

.page-name {
	text-align: center;
	font-size: 2em;
	margin-bottom: 20px;
}

p {
	line-height: 1.4em !important;
	margin: 0px;
}

.home-grid p:nth-of-type(2) {
	padding-top: 0;
}

.home-actions {
	display: flex;
	align-items: center;
	justify-content: space-around;
}

.home-actions a {
	border: 2px solid var(--accent2-color);
	border-radius: 15px 0 15px 0;
	background-color: #fff;
	padding: 20px;
	width: 35%;
	font-family: var(--paragraph-font);
	font-size: 1.1em;
	font-weight: 500;
	color: var(--paragraph-color-on-white);
	text-align: center;
	text-decoration: none;
	transition: all 0.2s ease-in-out;
}

.home-actions a:hover {
	background-color: var(--accent2-color);
	transform: scale(1.1);
	box-shadow: 5px 10px 18px #888888;
}

.home-actions a:visited {
	color: var(--paragraph-color-on-white);
}

.page-name {
	text-align: center;
}

.welcome {
	margin-left: 15px;
}

footer {
	font-family: var(--paragraph-font);
	font-size: 0.8em;
	color: var(--paragraph-color-on-color);
	padding: 5px 15px;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

footer .container {
	display: flex;
	justify-content: space-between;
}

.contact a {
	display: block;
	color: var(--paragraph-color-on-color);
	text-decoration: none;
}

footer .info {
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 250px;
}

footer .info a {
	text-decoration: none;
	color: var(--paragraph-color-on-color) !important;
}

/* MATERIALS PAGE */
.subpage-main {
	margin: 45px auto;
}

.materials {
	display: flex;
}

.materials-slideshow {
	display: flex;
	flex-direction: column;
	max-width: 450px;
	width: 100%;
	justify-content: space-around;
}

.list {
	padding: 20px;
	font-family: var(--paragraph-font);
	color: var(--paragraph-color-on-white);
	line-height: 1.4em;
}

.list h5 {
	margin-bottom: 5px;
}

.list ul {
	padding-left: 10px;
	margin-bottom: 20px;
}

.bullet {
	color: var(--accent2-color);
}

.materials-img {
	margin: auto;
}

.techniques h4 {
	padding-left: 20px;
	padding-top: 20px;
}

.technique {
	display: flex;
	justify-content: space-evenly;
}

.technique img {
	max-height: 500px;
}

.technique-slideshow {
	margin: auto;
}

.video {
	width: 350px;
	height: 350px;
}

/* UTILITIES */
.move-right {
	margin-left: auto;
}

.w-30 {
	width: 30%;
}

.w-40 {
	width: 40%;
}

.w-50 {
	width: 50%;
}

.w-60 {
	width: 60%;
}

.pt-0 {
	padding-top: 0;
}

.pt-5 {
	padding-top: 5px;
}

.pt-20 {
	padding-top: 20px;
}

.pb-0 {
	padding-bottom: 0;
}

.pl-20 {
	padding-left: 20px;
}

.divider {
	border-bottom: 2px solid rgb(224, 224, 224);
	margin: 35px 0;
}

@media (max-width: 1200px) {
	nav .container,
	footer .container,
	.page-main {
		width: 80%;
	}
}

@media (max-width: 925px) {
	body {
		padding: 0;
	}

	nav .container,
	footer .container {
		width: 95%;
	}

	nav a {
		min-width: 0;
	}

	footer .info {
		min-width: 155px;
		width: auto;
	}

	.technique .info,
	.technique img,
	.technique,
	.materials,
	.home-grid {
		display: block;
	}

	.home-grid img {
		margin: 45px auto;
		display: block;
	}

	.home-actions {
		flex-direction: column;
		margin: 45px 0;
	}

	.home-actions a {
		width: 60%;
		margin: 25px 0;
	}

	.welcome {
		margin-top: 40px;
		margin-left: 0;
	}

	.materials-img {
		max-width: 300px;
	}

	.list {
		width: 350px;
	}

	.technique img,
	.materials-img,
	.materials-slideshow,
	.list {
		margin: 0 auto;
	}

	.technique .info {
		width: 100%;
	}
}
